@font-face {
  font-family: 'Equity Text A';
  font-style: normal;
  font-weight: normal;
  src: local('Equity Text A'), local('Equity Text A Regular'),
       url('fonts/equity_text_a_regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Equity Text A';
  font-style: normal;
  font-weight: bold;
  src: local('Equity Text A'), local('Equity Text A Regular'),
       url('fonts/equity_text_a_bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Equity Text A';
  font-style: italic;
  font-weight: normal;
  src: local('Equity Text A'), local('Equity Text A Regular'),
       url('fonts/equity_text_a_italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Equity Text A';
  font-style: italic;
  font-weight: bold;
  src: local('Equity Text A'), local('Equity Text A Regular'),
       url('fonts/equity_text_a_bold_italic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Equity Caps A';
    src: url('fonts/equity_caps_a_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Equity Caps A';
    src: url('fonts/equity_caps_a_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
  font-family: 'Equity Text A', "Times New Roman", serif;
  font-size: 20px;
}

p {
	  font-size: 20px;
	  text-align: justify;
	  -webkit-hyphens: auto;
  	 -moz-hyphens: auto;
        hyphens: auto;
	  line-height: 1.4;
	  margin-bottom: 1em;
}
h1, h2, h3, h4, h5, h6, .nav, .article-duration, .archive-item-link, .footer, .tocify {
  font-family: 'Equity Caps A', "Lato", "Arial", sans-serif;
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 0.5em;

}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

pre code {
	font-size: 17px;
}

code {
  background-color: rgba(0, 0, 0, 0.02);
  font-size: 17px;
}

@media (min-width: 992px)
.col-md-9 {
    width: 65%;
}

.plotly {
	margin-top: 50px;
    margin-bottom: 50px;
}

.MathJax_Display {
    padding: 20px;
}

.toc-content {
    padding-left: 30px;
    padding-right: 100px !important;
}

.tocify-subheader .tocify-item {
    font-size: 1.1em !important;
}

pre {
	 margin: 20px 0 20px !important;
}